/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background-image: linear-gradient(rgba(0, 0, 50, 0.5), rgba(0, 0, 50, 0.5)), url("../images/background.webp");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Container Styling */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 50%;
  padding: 20px;
}

/* Card Styling */
.profile-card {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  max-width: 700px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #333;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Profile Picture Styling */
.profile-pic {
  margin-bottom: 20px;
}

.profile-pic img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 5px solid #71C9CE;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.profile-pic img:hover {
  transform: scale(1.05);
}

/* Profile Details Styling */
.profile-details h2 {
    margin-bottom: 15px;
    font-size: 2.2em;
    font-weight: 600;
    color: #2f4050;
}

.profile-details p {
  margin-bottom: 8px;
  font-size: 1.1em;
  line-height: 1.6;
  color: #2f4050;
}
/* Align Gender text to the left */
.personal-info p {
  margin-bottom: 10px;
  margin-left: 26%;
  font-size: 1.1em;
  text-align: left; /* Align text to the left */
}
/* Button Styling */
.edit-profile-btn {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background: #2575fc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.edit-profile-btn:hover {
  background: #6a11cb;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .profile-card {
    padding: 20px;
  }

  .profile-details h2 {
    font-size: 1.8em;
  }

  .edit-profile-btn {
    width: 100%;
  }
}
